// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

$c-primary-blue: #0466b2;
$c-primary-grey: #393939;
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.flex__box {
  display: flex;
  justify-content: center;
  height: 85vh;
}

.img-switcher {
  display: flex;
  justify-content: center;

  &__title {
    display: flex;
    justify-content: space-around;
  }
}

.frame {
  height: 30vh;
  background: blue;
}

.btn {
  border: 1px solid black;
  outline: none;
  background: white;
}

img {
  max-width: 65rem;
  height: 85vh;
}
