// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

$c-primary-blue: #0466b2;
$c-primary-grey: #393939;
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';

.app {
  height: 100vh;
  background: url('star-back-deep.jpeg') no-repeat fixed;
  background-size: cover;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.title-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
}

.nasa {
  width: 10rem;
}

.nasa-title {
  width: 100%;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
}

.img-switcher__title {
  color: white;
}

.date {
  display: flex;
  justify-content: center;
  margin: 0;
  color: white;
}

.frame {
  img {
    max-width: 65rem;
    max-height: 60vh;
    border: 2px solid white;
    background: $c-primary-blue;
  }
}

.btn {
  margin: 0 2rem;
  border: 0;
  outline: none;
  background: transparent;
  color: white;
}
